.navbarContainer{
    background-color: var(--dark-color);
}
.burgerMenuBtn{
    color: var(--secondary-color);
}
.burgerMenuIcon{
    font-size: 3rem;
}
.navLinkMenu{
    color: var(--secondary-color);
}